<div class="container-fluid px-3 py-2 text-bg-dark border-bottom bg-primary">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <h1 class="fw-bolder text-light">Insider Travel</h1>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li class="text-center">
            <a herf="#" class="nav-link text-light">
                <i class="bi d-block mx-auto mb-1 bi-shop"></i>
              Home
            </a>
          </li>
              <li class="text-center">
            <a herf="#" class="nav-link text-light">
                <i class="bi d-block mx-auto mb-1 bi-bag"></i>
              Packages
            </a>
          </li>
    
          <li class="text-center">
            <a herf="#" class="nav-link text-light">
                <i class="bi d-block mx-auto mb-1 bi-cart4"></i>
              Hotels
            </a>
          </li>
          <li class="text-center">
            <a herf="#" class="nav-link text-light">
                <i class="bi d-block mx-auto mb-1 bi-person-circle"></i>
              Log in
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center ">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </div>